.div-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #333;
}
.div-container :hover {
    background-color: #e0e0e0;

}
.h1 {
    color: #007acc;
    font-size: 24px;
    margin-bottom: 10px;
}
.h2 {
    color: #007acc;
    font-size: 20px;
    margin-bottom: 8px;
}
.paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}